<div class="diagram-canvas @Class"
     tabindex="-1"
     @ref="elementReference"
     @onpointerdown="OnPointerDown"
     @onpointermove="OnPointerMove"
     @onpointerup="OnPointerUp"
     @onkeydown="OnKeyDown"
     @onwheel="OnWheel"
     @onpointermove:preventDefault
     @onwheel:stopPropagation>

    @* Links *@
    <svg class="diagram-svg-layer" style="@GetLayerStyle(BlazorDiagram.Options.LinksLayerOrder)">
        @foreach (var node in BlazorDiagram.Nodes.OfType<SvgNodeModel>().Where(n => n.Group == null))
        {
            <NodeRenderer @key="node" Node="node"/>
        }

        @foreach (var group in BlazorDiagram.Groups.OfType<SvgGroupModel>().Where(n => n.Group == null))
        {
            <GroupRenderer @key="group" Group="group"/>
        }

        @foreach (var link in BlazorDiagram.Links)
        {
            <LinkRenderer @key="link" Link="link"/>
        }

        <ControlsLayerRenderer Svg="@true"></ControlsLayerRenderer>
    </svg>

    @* Nodes *@
    <div class="diagram-html-layer" style="@GetLayerStyle(BlazorDiagram.Options.NodesLayerOrder)">
        @foreach (var group in BlazorDiagram.Groups.Where(n => n is not SvgGroupModel))
        {
            if (group.Group != null) continue;
            <GroupRenderer @key="group" Group="group"/>
        }

        @foreach (var node in BlazorDiagram.Nodes.Where(n => n is not SvgNodeModel && n.Group == null))
        {
            <NodeRenderer @key="node" Node="node"/>
        }

        <ControlsLayerRenderer Svg="@false"></ControlsLayerRenderer>
    </div>

    @Widgets
</div>