@inherits NavigatorComponent

<div class="diagram-navigator@(DefaultStyle ? " default" : "")">
    <svg width="@(Width.ToInvariantString())px" height="@(Height.ToInvariantString())px">
        @{
            var addedPosX = Math.Max(0, DiagramManager.Pan.X);
            var addedPosY = Math.Max(0, DiagramManager.Pan.Y);
        }

        @foreach (var node in DiagramManager.Nodes.Where(n => n.Size != null))
        {
            var left = (node.Position.X + addedPosX) * XFactor;
            var top = (node.Position.Y + addedPosY) * YFactor;
            var width = node.Size.Width * XFactor;
            var height = node.Size.Height * YFactor;

            <g @key="node.Id" transform="translate(@left.ToInvariantString(), @top.ToInvariantString())">
                <rect fill="#31d0c6"
                      width="@width.ToInvariantString()"
                      height="@height.ToInvariantString()"></rect>
            </g>
        }
    </svg>
</div>
