<div class="group @(Group.Selected ? " selected" : "")"
     style="top: @(Y.ToInvariantString())px; left: @(X.ToInvariantString())px; width: @(Width.ToInvariantString())px; height: @(Height.ToInvariantString())px;"
     @onmousedown="OnMouseDown"
     @onmousedown:stopPropagation
     @onmouseup="OnMouseUp"
     @onmouseup:stopPropagation>
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>