@foreach (var model in BlazorDiagram.UserActions.Models)
{
    var userActions = BlazorDiagram.UserActions.GetFor(model)!;
    if (!userActions.Visible || userActions.Count == 0)
        continue;

    if (Svg && model is SvgNodeModel or SvgGroupModel)
    {
        <g class="user-actions" data-model-type="@model.GetType().Name" data-model-id="@model.Id">
            @foreach (var action in userActions)
            {
                var position = action.PositionProvider.GetPosition(model);
                if (position == null)
                    continue;

                @RenderUserAction(model, action, position, true)
            }
        </g>
    }
    else if (!Svg && model is not SvgNodeModel && model is not SvgGroupModel)
    {
        <div class="user-actions" data-model-type="@model.GetType().Name" data-model-id="@model.Id">
            @foreach (var action in userActions)
            {
                var position = action.PositionProvider.GetPosition(model);
                if (position == null)
                    continue;

                @RenderUserAction(model, action, position, false)
            }
        </div>
    }
}