@foreach (var key in BlazorDiagram.Controls.ContainersKeys)
{
	var controls = BlazorDiagram.Controls.GetFor(key.Model, key.Type)!;
	if (!controls.Visible || controls.Count == 0)
		continue;

	if (Svg && key.Model.IsSvg())
	{
		<g class="controls" data-model-type="@key.Model.GetType().Name" data-model-id="@key.Model.Id" @key="key">
			@foreach (var control in controls)
			{
				var position = control.GetPosition(key.Model);
				if (position == null)
					continue;

				@RenderControl(key.Model, control, position, true)
			}
		</g>
	}
	else if (!Svg && !key.Model.IsSvg())
	{
		<div class="controls" data-model-type="@key.Model.GetType().Name" data-model-id="@key.Model.Id" @key="key">
			@foreach (var control in controls)
			{
				var position = control.GetPosition(key.Model);
				if (position == null)
					continue;

				@RenderControl(key.Model, control, position, false)
			}
		</div>
	}
}